{% extends 'base.html' %}

{% block title %}Categorías{% endblock %}
{% load static %}
{% block content %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th,
    td {
        padding: 12px;
        text-align: left;
        border: 1px solid #ddd;
    }

    th {
        background-color: #333;
        color: white;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    /* Estilo para las imágenes */
    th img,
    td img {
        width: 50px;
        /* Ajusta el ancho según tus necesidades */
        height: auto;
    }

    img {
        width: 60px;
        height: auto;
    }
</style>
<table>
    <a href="{% url 'agregar_categoria' %}">
        <img src="{% static 'images/agregar.png' %}" alt="">
        Agregar nueva categoria
    </a>
    <thead>
        <tr>
            <th>ibsn</th>
            <th>Titulo</th>
            <th>Fecha de publicación</th>
            <th>Categoria</th>
            <th>Precio</th>
            <th>Portada</th>
            <th>Stock</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for libro in libros %}
        <tr>
            <td>{{ libro.isbn }}</td>
            <td>{{ libro.titulo }}</td>
            <td>{{ libro.fecha_pub }}</td>
            <td>{{ libro.categoria }}</td>
            <td>{{ libro.precio }}</td>
            <td>{{ libro.portada }}</td>
            <td>{{ libro.cantidad_stock }}</td>
            <td>{{ libro.estado }}</td>
            <td>
                <a href="{% url 'eliminar_libros' id=libro.isbn %}">
                    <img src="{% static 'images/eliminar.png' %}" alt="">
                </a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}


<a href="{% url 'editar_categorias' id=libros.isbn %}">
    <img src="{% static 'images/editar.png' %}" alt="">
</a>